<html>
    <head>
    <link rel="stylesheet" href="/backend/public/css/styles.css" type="text/css">
    <title>fp</title>
    </head>
    <body>
        <script>
           
        </script>
        <hr>
        <a href="/logp"><button type="button" id="botaoLogSignOut"><%= logif %></button></a>
        <a href="/fp"><button type="button" id="botaoSQL" >
            <img src="/backend/public/images/cogconfig.png" alt="">
        </button>
    </a>
        <iframe src="/sp" width="100%" height="80%" name="secpage-iframe" id="secpage-iframe"></iframe>
        <hr>
        
    </body>
</html>