<html>
    <head>
        <link rel="stylesheet" href="/backend/public/css/styles.css">
    </head>
    <body>
        <form action="/logm" method="POST" id="formlogA">
            <h1>LOGIN</h1>
            <h3><%= MESGLOG %></h3>
            <label for="emmod">USER:</label>
            <input type="text" name="emmod" id="emmod"><br>
            <hr>
            <label for="pasmod">SENHA:</label>
            <input type="password" name="pasmod" id="pasmod"><br>
            <input type="submit" value="LOGIN" id="buttlog">
        </form>
        <script>
            
        </script>
    </body>
</html>