<html>
    <head>
        <link rel="stylesheet" href="/backend/public/css/styles.css" type="text/css">
    </head>
    <body>
        <h1>BOM DIA! <%= nomeSp %> </h1>
        <a href="/fp">old pagina!</a>
    </body>
</html>